<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="font-mont h2 mt-2">Tìm hiểu về bảo mật ứng dụng web</div>
        <hr />
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>

</html>
