@model TOP10OWASP.Models.USERACCOUNT 

<h3>Xin chào @Model.NAME</h3>
<p>Tài khoản: @Model.USERNAME</p>
<p>Mật khẩu: @Model.PASSWORD</p>
<p>Thuộc quyền: @Model.ROLE</p>


<a href="@Url.Action("Index", "InsecureDirectObjectReferences")">Trở lại trang</a>