@model TOP10OWASP.Models.USERACCOUNT


<div class="row">
    <div class="col-4 d-flex flex-column justify-content-lg-between border-right">
        <div div class="welcome h5">Xin chào @Model.NAME</div>
        <a href="@Url.Action("Index", "InsecureDirectObjectReferences")">Trở lại trang</a>
    </div>
    <div class="col-6">
        <div class="profile">
            <p class="h5">Thông tin đăng nhập </p>
            <p>Tài khoản: @Model.USERNAME</p>
            <p>Mật khẩu: @Model.PASSWORD.Replace("abcdefghijklmopqrstuvwxyz123456789", "*")</p>
            <p>Tên người dùng: @Model.NAME</p>
            <p>Quyền: @Model.ROLE</p>
        </div>
    </div>
</div>
