<div class="row">
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">1. INJECTION</div>
        <div class="content my-3">Demo login.</div>
        <a href="@Url.Action("Index", "Injection")" class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
        
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">
            2. Broken Authenticaton and Session Management
        </div>
        <div class="content my-3">Demo Session, Cookie</div>
        <a href="@Url.Action("Index", "BrokenAuthenticationAndSessionManagement")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">3. Cross-Site Scripting (XSS)</div>
        <div class="content my-3">Demo message</div>
        <a href="@Url.Action("Index", "CrossSiteScripting")" class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">
            4. Insecure Direct Object References
        </div>
        <div class="content my-3">Demo change ID</div>
        <a href="@Url.Action("Index", "InsecureDirectObjectReferences")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">5. Security Misconfiguration</div>
        <div class="content my-3">Demo show thrown</div>
        <a href="@Url.Action("Index", "SecurityMissconfiguration")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">6. Sensitive Data Exposure</div>
        <div class="content my-3">Demo show Data</div>
        <a href="@Url.Action("Index", "SentitiveDataExposure")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">
            7. Missing Function Level Access Control
        </div>
        <div class="content my-3">Demo connect to admin view</div>
        <a href="@Url.Action("Index", "MissingFunctionLevelAccessControl")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">
            8. Cross-Site Request Forgery (CSRF)
        </div>
        <div class="content my-3">
            Ví dụ truy cập vào link giả mạo để thực hiện một action
        </div>
        <a href="@Url.Action("Index", "CrossSiteRequestForgery")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">
            9. Using component with known vulnerabilities
        </div>
        <div class="content my-3">Không có demo</div>
        <a href="@Url.Action("Index", "UsingComponentWithKnownVulnerabilities")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="title-number h4">
            10. Unvalidated Redirects and Forwards
        </div>
        <div class="content my-3">Không có demo</div>
        <a href="@Url.Action("Index", "UnvalidateRedirectsAndForwards")"
           class="btn btn-primary btn-sm px-3 py-1">Xem ví dụ</a>
    </div>
</div>