
@{
    ViewBag.title = "Sensitive Data Exposure";
}
<div class="row">
    <div class="col-12">
        <div class="tab">

            <div class="d-flex align-items-center justify-content-between w-100">
                <div class="page-number h2">
                    <span class="number">6.</span> Sensitive Data Exposure
                </div>
                <a href="/">Back to index</a>
            </div>

            <div id="smartwizard">
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="#step-1">
                            Tìm hiểu về Sensitive Data Exposure
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#step-2"> Hướng giải quyết </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="step-1" class="tab-pane" role="tabpanel">
                        <div class="content">
                            <p>
                                Sentitve Data Expose (rò rỉ dữ liệu) cũng là một trong những rủi ro mà các lập trình viên thường mắc phải trong quá trình thiết kế cơ sở dữ liệu với dạng là thuộc tính id Identity (mã tự tăng). Việc rò rỉ dữ liệu sau khi thực hiện một sự kiện, action nào đó, một phương thức được gọi về máy chủ sau đó trỏ đến database để lấy dữ liệu lên và hiển thị lên trên màn hình của người dùng. Kẻ tấn công sẽ lần theo các dữ liệu đó để suy ra cấu trúc dữ liệu của hệ thống. <br />
                                Cần phải nói rằng các Session ID và dữ liệu nhạy cảm không
                                nên được truyền trong các URL và cookie nhạy cảm nên có cờ
                                an toàn.
                                <br />
                                Các tác nhân đe dọa: là các tài khoản nằm trong hệ thống của bạn. Hãy xem thử họ có mong muốn truy cập vào vùng dữ liệu mà họ có được cho phép truy cập hay không?
                                <br />
                                Ví dụ một chức năng là hiển thị danh sách sản phẩm thông qua loại sản phẩm, trong các thẻ link, các lựa chọn hoặc các nút thường sẽ đính kèm id (mã) của bảng đó. Từ đó, kẻ tấn công có thể suy ra được cấu trúc dữ liệu là trường dữ liệu id đó chính là khóa ngoại dùng để hiển thị các sản phẩm có mã loại sản phẩm.
                            </p>
                            <p class="h4">
                                Tôi có thể bị tấn công bởi lỗi “Sensitive Data Exposure”
                                không? và phải hạn chế tối đa việc có thể bị tấn công như
                                thế nào?
                            </p>
                            <p>
                                Điều đầu tiên bạn phải xác định là thông tin nào nhạy cảm
                                đến mức cần phải yêu cầu bảo mật. Ví dụ: mật khẩu, thẻ tín
                                dụng, thông tin các nhân quan quan trọng. Đối với tất cả các dữ liệu kiểu như vậy, phải bảo đảm
                                rằng:
                            </p>
                            <ol class="ml-5">
                                <li>
                                    <p>
                                        o	Các thuật toán mã hóa có đủ mạnh không? Có nên ẩn các dữ liệu quan trọng dưới dạng chuỗi ký tự đặc biệt như “*”?
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Chỉ những người được ủy quyền có thể truy cập các bản
                                        sao được giải mã của dữ liệu.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Sử dụng một thuật toán mã hóa mạnh và được xây dựng
                                        theo tiêu chuẩn.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Bạn cần hạn chế các dữ liệu nhạy cảm có khả năng bị lộ
                                        của mình. Nếu bạn không cần những dữ liệu nhạy cảm
                                        này, hãy hủy nó. Dữ liệu bạn không có không thể bị
                                        đánh cắp.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Nếu bạn có dữ liệu nhạy cảm mà bạn thực sự cần, lưu
                                        trữ mã hóa nó và đảm bảo rằng tất cả các mật khẩu được
                                        sử dụng hàm Hash để bảo vệ. Đối với Hash, nên sử dụng
                                        bcrypt. Nếu bạn không sử dụng mã hoá bcrypt, hãy tìm
                                        hiểu về mã Salt để ngăn ngừa rainbow table attack.
                                    </p>
                                </li>
                            </ol>
                            <p class="h-5">Thực hiện việc xem danh sách sản phẩm bằng cách chọn vào các lựa chọn bên dưới hoặc chọn vào đường dẫn hoặc nút bên dưới để xem danh sách.</p>
                            <p>Vậy tấn công như thế nào?</p>
                            <ol class="ml-5">
                                <li>
                                    <p>Nhấn tổ hợp phím <span class="high-light">Ctrl + Shift + I</span> để mở Inspect (để kiểm tra website)</p>
                                </li>
                                <li>
                                    <p>Nhấn tổ hợp phím <span class="high-light">Ctrl + Shift + I</span> để chọn một Element trên website</p>
                                </li>
                                <li>
                                    <p>Hãy thử rê chuột vào đường link <span class="text-primary">Xem danh sách Coffee</span> Sau đó chọn vào đó </p>
                                </li>
                                <li>
                                    <p>
                                        Ta có thể thấy đường dẫn thực hiện Action của hệ thống, nhấn chuột phải vào đoạn đó, chọn <span class="high-light">Edit as html</span> Giờ hãy thử thay đổi CategoryId = 2 sau đó chọn vào xem danh sách.
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div class="demo">
                            @using (Html.BeginForm("LoadProduct", "SentitiveDataExposure", FormMethod.Post))
                            {
                                <div class="form-group row">
                                    <div class="col-4">
                                        @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.list, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-1">
                                        <button type="submit"
                                                class="btn btn-primary btn-sm px-3 py-1">
                                            Xem
                                        </button>
                                    </div>
                                    <div class="col-3">
                                        <a href="@Url.Action("LoadProduct", "SentitiveDataExposure", new { @CategoryId = 1 })">Xem danh sách Coffee</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="@Url.Action("LoadProduct", "SentitiveDataExposure", new { @CategoryId = 2})" class="btn btn-primary btn-sm py-1 px-3">Xem danh sách Tea</a>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                    <div id="step-2" class="tab-pane" role="tabpanel">
                        <p class="h3">
                            Việc rò rỉ là vấn đề trong quá trình xây dựng ứng dụng web, vậy để phòng tránh dữ liệu bị rò rỉ dẫn đến bị suy đoán được cấu trúc dữ liệu, ta có thể:
                        </p>
                        <ol class="ml-5">
                            <li>
                                <p>
                                    Các trường dữ liệu quan trọng như ID nên sử dụng dữ liệu kiểu Guid. Guid là kiểu dữ liệu tự sinh không giống nhau (uniqueidentifer trong MSSQL), điều đó làm cho việc muốn rà soát dữ liệu trở nên khó hơn.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Mật khẩu nên mã hóa theo chuẩn an ninh web như AES, RSA hay được băm với MD5, SHA256
                                </p>
                            </li>
                            <li>
                                <p>
                                    Phân quyền rõ ràng cho người dùng trong việc họ yêu cầu thực hiện việc cập nhật xem thông tin cá nhân, liệu những dữ liệu quan trọng có nên chuyển dữ một chuỗi dữ liệu thành chuỗi ký tự “*” hay không? Và nên có cơ chế xác thực khi họ thực hiện cập nhật thông tin như OTP, CAPCHA.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Thường xuyên cập nhật, kiểm tra các gói, extension để
                                    tránh trường hợp lộ thông tin tuyệt mật dẫn đến mất hết
                                    tất cả dữ liệu
                                </p>
                            </li>
                            <li>
                                <p>
                                    Đảm bảo các thuật toán mạnh theo tiêu chuẩn và các khóa
                                    mã mạnh được sử dụng, việc quản lý các khóa mã này cũng
                                    cần được lưu tâm.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Đảm bảo mật khẩu được băm theo tiêu chuẩn của một thuật
                                    toán mạnh và có độ phức tạp nhất định.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Đảm bảo tất cả các khóa và mật khẩu được bảo vệ khỏi
                                    những truy cập trái phép.
                                </p>
                            </li>
                        </ol>
                        <p>Ta có thể sử dụng trường dữ liệu trong bảng để thay thế cho id, điều đó làm cho việc truy vết hoặc dò ra id trở nên khó khăn hơn nhưng đồng thời cũng làm hao tổn nhiều tài nguyên hơn</p>
                        <div class="demo">
                            @using (Html.BeginForm("LoadProductByURl", "SentitiveDataExposure", FormMethod.Post))
                            {
                                <div class="form-group row">
                                    <div class="col-4">
                                        @Html.DropDownList("URL", (IEnumerable<SelectListItem>)ViewBag.list1, new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="col-1">
                                        <button type="submit"
                                                class="btn btn-primary btn-sm px-3 py-1">
                                            Xem
                                        </button>
                                    </div>
                                    <div class="col-3">
                                        <a href="@Url.Action("LoadProductByUrl", "SentitiveDataExposure", new { url = "san-pham-coffee" })">Xem danh sách Coffee</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="@Url.Action("LoadProductByUrl", "SentitiveDataExposure", new { url = "san-pham-tea"})" class="btn btn-primary btn-sm py-1 px-3">Xem danh sách Tea</a>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>